header
  nav
    ul.navigation-menu
      li
        a(href='#') Home
      li
        a(href='#') Products
        ul
          li
            a(href='#') Dog Supplies
            ul
              li
                a(href='#') Food &amp; Treats
              li
                a(href='#') Toys
              li
                a(href='#') Beds &amp; Furniture
              li
                a(href='#') Outdoor Supplies
              li
                a(href='#') Clothing
          li
            a(href='#') Cat Supplies
            ul
              li
                a(href='#') Food &amp; Treats
              li
                a(href='#') Toys
              li
                a(href='#') Beds &amp; Furniture
          li
            a(href='#') Bird Supplies
            ul
              li
                a(href='#') Food &amp; Treats
              li
                a(href='#') Toys
              li
                a(href='#') Furniture
          li
            a(href='#') Fish Supplies
            ul
              li
                a(href='#') Food
              li
                a(href='#') Aquariums
              li
                a(href='#') Rocks &amp; Decorations
      li
        a(href='#') Services
        ul
          li
            a(href='#') Grooming
            ul
              li
                a(href='#') Coat Care
              li
                a(href='#') Nail Care
              li
                a(href='#') Doggie Deluxe Spa Day
          li
            a(href='#') Boarding
            ul
              li
                a(href='#') Short Term Boarding
              li
                a(href='#') Doggie Daycare
      li
        a(href='#') Locations &amp; Hours
        ul
          li
            a(href='#') North America
          li
            a(href='#') Europe
      li
        a(href='#') About Us
        ul
          li
            a(href='#') Our Team
          li
            a(href='#') Contact Us
